!!!
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" href="/shop/user_data/packages/default/css/import.css" type="text/css" media="all" />
<title>現在メンテナンス中です | 便利野菜</title>
<link rel="shortcut icon" href="/images/common/favicon.gif" />
</head>
<body>
<!-- ▼frame_outer -->
<div class="frame_outer">
  <!--▼HEADER-->
  <div id="header_wrap">
  <div id="header" class="clearfix">
  <div id="logo_area">
  <h1><a href="/"><img src="/images/common/img_logo-top.gif" alt="便利野菜.jp" width="175" height="50" /></a><span>野菜パウダー・乾燥野菜の便利野菜オンラインショップ</span></h1>
  </div>
  <!--header--></div>
  <!--header_wrap--></div>
  <!--▲HEADER-->
  <div id="container" class="clearfix">
    <div id="one_maincolumn" class="main_column">
      <div style="border:1px solid #ccc;padding:30px;margin-top:30px;">
      <h2 style="font-size: 1.5em; line-height: 250%;">システムメンテナンスのお知らせ</h2>
      <p>いつも便利野菜をご利用いただき、ありがとうございます。<br>
      このたびサービス向上のため、システムメンテナンスを実施いたします。<br>
      下記時間帯でサービスがご利用いただけません。<br>
      お客さまには大変ご迷惑をおかけいたしますが、何卒ご了承いただけますようよろしくお願い申し上げます。</p>
      <div style="background-color:#FDF7E8;padding:10px 20px; margin: 10px auto;">
      <p class="hiduke" style="  color:#903;font-weight:bold;margin:10px 0 10px 0;font-size:16px;">メンテナンス時間：2016年3月10日(木)10:00～15:00（予定）<br>
      <span style="font-size:12px;color:red;">※メンテナンス時間は作業状況により変更する場合がございます。</span> </p>
      </div>
      <p>お問い合わせ・お電話でのご注文は通常通りご利用いただけます。<br>
      ご不便をおかけいたしますがよろしくお願い申し上げます。
      </p>
      </div>
    </div>
  </div>
</div>
<!-- ▲frame_outer -->
</body><!-- ▲BODY部 エンド -->
